<div class="m-contact-content">
  <div class="m-section-title">
    <span data-locate="careers.title_main">{{:title_main}}</span>
  </div>

  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald"><span>JOIN US</span></p>
    <p  class="m-child-stitle" data-locate="careers.careers_title">{{:careers_title}}</p>
  </div>
  <div class="m-child-section m-child-info">
    <p class="m-info-wrap">
      {{for title_list}}
      <span data-locate="careers.title_list[{{:#index}}]">{{:#data}}</span>
      {{/for}}
    </p>
  </div>

  <div class="m-child-section m-child-career">
    <div class="m-career-title" data-locate="careers.part1_title">
      {{:part1_title}}
    </div>
    <div class="m-career-detail">
      <div class="m-career-type">
        <div class="m-item-tl" data-locate="careers.part1_stitle">{{:part1_stitle}}</div>
        <div class="m-item-co">
          {{for part1_item}}
          <li>
            <h1 data-locate="careers.part1_item[{{:#index}}].label">{{:label}}</h1>
            {{for list ~pindex=#index}}
            <span data-locate="careers.part1_item[{{:~pindex}}].list[{{:#index}}]">{{:#data}}</span>
            {{/for}}
          </li>
          {{/for}}
        </div>
      </div>
      <div class="m-career-type">
        <div class="m-item-tl" data-locate="careers.part2_title">{{:part2_title}}</div>
        <div class="m-item-co">
          {{for part2_item}}
            <span data-locate="careers.part2_item[{{:#index}}]">{{:#data}}</span>
          {{/for}}
        </div>
      </div>
    </div>
  </div>


  <div class="m-child-section m-child-career">
    <div class="m-career-title" data-locate="careers.part3_title">
      {{:part3_title}}
    </div>
    <div class="m-career-detail">
      {{for part3_list}}
      <div class="m-career-item">
        <div class="m-item-tl" data-locate="careers.part3_list[{{:#index}}].tl">{{:tl}}</div>
        <div class="m-item-co">
          {{for vl ~pindex=#index}}
            <span data-locate="careers.part3_list[{{:~pindex}}].vl[{{:#index}}]">{{:#data}}</span>
          {{/for}}
        </div>
      </div>
      {{/for}}
      <div class="m-career-item m-career-submit">
        <input type="submit" value="こちらよりお問い合わせください" class="input--submit">
      </div>
    </div>
  </div>
</div>
