<div class="m-contact-content">
  <div class="m-section-title">採用情報</div>


  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald"><span>JOIN US</span></p>
    <p  class="m-child-stitle">エンジニア経験の有無ではなく、前向きで成長意欲のある人を求めています！</p>
  </div>
  <div class="m-child-section m-child-info">
    <p class="m-info-wrap">
      <span>当社は2014年に創業したばかり。</span>
      <span>社員の平均年齢は30歳と、若い人が多いことが特徴です。</span>
      <span>いってみれば、まだまだ未熟な会社です。</span>
      <span>だからこそ「伸びしろ」は大きいし、やる気があればどんなことにもチャレンジできる環境です。</span>
      <span>そんなところに可能性を感じてくれる、向上心を持った方、楽しみながらともに成長していけるような仲間を募集しています。</span>
      <span>御連絡をお待ちしております。</span>
    </p>
  </div>

  <div class="m-child-section m-child-career">
    <div class="m-career-title">
      募集要項
    </div>
    <div class="m-career-detail">
      <div class="m-career-type">
        <div class="m-item-tl">募集職種</div>
        <div class="m-item-co">
          <li>
            <h1>営業職 <em>2名</em></h1>
            <span>営業職 販路拡大、顧客への提案、情報提供等</span>
            <span>社員フォロー</span>
            <span>各営業イベントに積極的に参加したい方</span>
          </li>
          <li> 
            <h1>技術職（プログラマー・システムエンジニア）<em>10名</em></h1>
            <span>ITに関心がある方</span>
            <span>行政、物流、金融、販売管理など、多様な業種の情報システム設計 （なんらかの強みを持っている方を優遇）</span>
            <span>ネットワークの構築およびソフトウェア、システムの開発・提案</span>
            <span>業務アプリケーション開発（Java, .NETなど）</span>
            <span>Webアプリケーション開発（PHP, Ruby, Perlなど）</span>
            <span>通信系アプリケーション開発（Java, C#など）</span>
            <span>ネットワーク・サーバ構築運用</span>
            <span>情報システム保守・運用、ヘルプデスク</span>
            <span>システムの保守・運用</span>
            <span>Android、iPhone系開発</span>
          </li>
          
        </div>
      </div>
      <div class="m-career-type">
        <div class="m-item-tl">応募資格</div>
        <div class="m-item-co">高卒以上の方で、ITの設計・開発、プロジェクトマネジメント、コンサルタントの経験がある方。および高度な技術資格を取得している方
※当社はコミュニケーション力を重視しておりますので、初心者も歓迎します。</div>
      </div>
    </div>
  </div>


  <div class="m-child-section m-child-career">
    <div class="m-career-title">
      待遇・勤務・福利厚生
    </div>
    <div class="m-career-detail">
      <div class="m-career-item">
        <div class="m-item-tl">給与</div>
        <div class="m-item-co">実務経験年数、保有資格、年齢などにより当社規定に基づき決定</div>
      </div>
      <div class="m-career-item">
        <div class="m-item-tl">諸手当</div>
        <div class="m-item-co">
          <span>役職手当、家族手当、超過勤務手当、通勤手当（実費）、出張手当等</span>
          <span>※奨励一時金制度有</span>
        </div>
      </div>
      <div class="m-career-item">
        <div class="m-item-tl">賃金改訂</div>
        <div class="m-item-co">年1回（1月～）</div>
      </div>
      <div class="m-career-item">
        <div class="m-item-tl">賞与</div>
        <div class="m-item-co">
          <span>一定の利益を超えた場合、賞与支給</span>
          <span>（原則として年1回、冬季）</span> </div>
      </div>
      <div class="m-career-item">
        <div class="m-item-tl">勤務地</div>
        <div class="m-item-co">東京、大阪およびその近県</div>
      </div>
      <div class="m-career-item">
        <div class="m-item-tl">勤務時間</div>
        <div class="m-item-co">
          <span>9:30～18:30</span>
          <span>※勤務先・職種によって異なる場合があります。</span>
        </div>
      </div>
      <div class="m-career-item">
        <div class="m-item-tl">休日休暇</div>
        <div class="m-item-co">
          <span>土・日・祝祭日、夏季休暇（正社員）、年末・年始の休暇、有給休暇</span>
          <span>※リフレッシュ休暇あり</span>
          <span>※休日休暇については、勤務先・職種によって異なる場合があります。</span>
        </div>
      </div>
      <div class="m-career-item">
        <div class="m-item-tl">保険</div>
        <div class="m-item-co">健康保険、厚生年金保険、雇用保険</div>
      </div>
      <div class="m-career-item">
        <div class="m-item-tl">福利厚生制度</div>
        <div class="m-item-co">各種健康診断、企業年金、財形貯蓄、慶弔見舞金ほか</div>
      </div>
      <div class="m-career-item">
        <div class="m-item-tl">イベント等</div>
        <div class="m-item-co">各種懇親会、社員旅行</div>
      </div>
      <div class="m-career-item m-career-submit">
        <input type="submit" value="こちらよりお問い合わせください" class="input--submit">
      </div>
    </div>
  </div>
</div>
