html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  /*font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif*/
  /*height: 100vh;*/
}

.noscroll{
  position: fixed;
  overflow-y:scroll;
  /*touch-action: none;*/
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  -webkit-font-smoothing: antialiased;
}


.ft-oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.g-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: #fff;
  overflow: hidden;
}

input,textarea{
  -webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
    font-size: 12px;
}

.of-mobile {
  display: none;
}

.fn-right {
    text-align: right;
}

.fn-margin-t50 {
  margin-top: 50px;
}

.ft-small-x {
  font-size: 14px;
}
.ft-small-xx {
  font-size: 12px;
}

.m-section-title {
    padding: 10px 40px;
    background: #0274cc;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

  .m-main {
     margin-top: 113px;
  }


@media only screen and (max-width: 768px) {


  .m-copyrights {
    text-align: center;
}

}