html,body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.noscroll{
  position: fixed;
  overflow-y:scroll;
  /*touch-action: none;*/
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  -webkit-font-smoothing: antialiased;
}


.ft-oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.g-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: #fff;
  overflow: hidden;
}

input,textarea{
  -webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
    font-size: 12px;
}



input:hover,
textarea:hover,
select:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.08);
}

.input--select, .input--text {
  height: 50px;
}
    

.input--select, .input--text,.input--textarea {
    width: 100%;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    width: 100%;
    padding: 0.8em;
    color: #666;
    background: #fff;
}

.input--submit {
  font-size: 18px;
  background: #0274cc;
  color: #fff;
  display: block;
  width: 100%;
  padding: 12px 20px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

input.input--submit:hover {
  background: #035fa5;
}

.of-mobile {
  display: none;
}

.fn-right {
    text-align: right;
}

.fn-margin-t50 {
  margin-top: 50px;
}

.ft-small-x {
  font-size: 14px;
}
.ft-small-xx {
  font-size: 12px;
}

.m-section-title {
    padding: 10px 40px;
    background: #0274cc;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.m-main {
   margin-top: 113px;
}

.m-child-title {
    font-size: 48px;
    text-align: center;
    padding: 60px 0 0;
}


@media only screen and (max-width: 768px) {

  input.input--submit {
    font-size: 16px;
  }

  .m-copyrights {
    text-align: center;
  }


}