#gsr .m-achieve-item {
    margin: 5px;
    border: 1px solid #eee;
}
#gsr .m-achieve-head {
    color: #fff;
    background: #0274cc;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
#gsr .m-achieve-row {
    display: flex;
    padding: 3px;
    background: #fff;
}
#gsr .m-achieve-tl {
    display: block;
    width: 150px;
    margin-bottom: 1px;
    text-align: center;
    border-right: 1px solid #eee;
    color: #666;
    background: #fff;
    padding: 0;
}
#gsr .m-achieve-co {
    flex: 1;
    background: #fff;
    margin-bottom: 1px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
#gsr .m-achieve-co>span {
    padding: 3px 10px;
    background: #666;
    margin: 0 5px 5px 0;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}


#gsr .m-os {
    background: #ff6600;
}

#gsr .m-db {
    background: #006699;
}

#gsr .m-lang {
    background: #00a04a;
}

#gsr .m-search-key {
    color: #ff0000;
    font-style: normal;
    font-weight: bold;
}


#gsr .m-benefit-section {
    width: auto;
    padding: 0;
}



/*search*/
.m-search-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    /*background: rgba(0,0,0,.8);*/
    background: rgba(200,200,200,.5);
}
#gsr .m-search-main {
    margin: 20px auto;
    width: 900px;
    background: #eee;
    height: calc( 100vh - 40px );
    border-radius: 2px;
    padding: 10px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#gsr .m-close {
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ff0000;
    right: -13px;
    top: -13px;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}
#gsr .m-close:before {
    content: " ";
    position: absolute;
    right: 12px;
    top: 5px;
    border-left: 2px solid #eee;
    height: 15px;
    width: 0;
    transform: rotate(45deg);
}
#gsr .m-search-head {
    display: flex;
}
#gsr .m-close:after {
    content: " ";
    position: absolute;
    right: 12px;
    top: 5px;
    border-left: 2px solid #eee;
    height: 15px;
    width: 0;
    transform: rotate(-45deg);
}


#gsr .m-search-head>input {
    flex: 1;
    border: 1px solid #eee;
}
#gsr .m-search-head>button {
    width: 120px;
}
#gsr .m-search-ret {
    /*background: #fff;*/
    margin: 10px 0 0 0;
    flex: 1;
    overflow-y: scroll;
}





#gsr .m-style-title {
    display: flex;
    padding: 5px 15px;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #eee;
}
#gsr .m-style-title>h1 {
    font-size: 24px;
    color: #0274cc;
    flex: 1;
    margin: 0;
}
#gsr .m-style-title>label {
    font-family: Georgia;
    color: #0266cc;
    font-weight: 500;
    margin: 0;
}
#gsr .m-style-list {
    display: flex;
    background: #333;
    justify-content: space-between;
}
#gsr .m-style-pic {
    width: 33%;
    position: relative;
}
#gsr .m-style-pic>img {
    width: 100%;
}
#gsr .m-style-pic>span {
    background: rgba(90,90,90,.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}
#gsr .m-style-content {
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #666;
}
#gsr .m-style-content {
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #666;
}

#gsr .m-style-title>h1 {
    font-size: 14px;
}


#gsr .m-benefit-wrap {
    display: flex;
    width: 100%;
    background: #ccc;
    padding: 10px;
}
#gsr .m-benefit-person {
    display: flex;
    width: 320px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    background: #fff;
}
#gsr .m-benefit-pic {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}
#gsr .m-benefit-pic>img {
    width: 100%;
}
#gsr .m-benefit-profile {
    display: flex;
    flex-direction: column;
}
#gsr .m-benefit-profile>h1 {
    font-size: 18px;
    padding: 5px 10px;
    margin: 0;
    background: #333;
    color: #fff;
}
#gsr .m-benefit-profile>p {
    font-size: 12px;
    padding: 10px;
    line-height: 1.8;
    text-align: justify;
    margin: 0;
}
#gsr .m-benefit-scheduel {
    background: #fff;
    flex: 1;
    font-size: 12px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-left: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
}
#gsr .m-benefit-row {
    display: flex;
}
#gsr .m-benefit-row>span {
    padding: 8px 0;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gsr .m-benefit-row>span:nth-child(1) {
    width: 100px;
}
#gsr .m-benefit-row>span:nth-child(2) {
    width: 60px;
}
#gsr .m-benefit-row>span:nth-child(3) {
    flex: 1;
}
#gsr .m-benefit-row>span:nth-child(4) {
    width: 60px;
}
#gsr .m-benefit-row>span:nth-child(5) {
    width: 100px;
}

#gsr .m-child-career {
    width: auto;
}

#gsr .m-career-title {
    background: #0274cc;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-size: 16px;
}

#gsr .m-career-detail {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#gsr .m-career-type {
    display: flex;
    padding-top: 10px;
}

#gsr .m-item-tl {
    width: 150px;
    padding: 0 10px;
    font-weight: bold;
}

#gsr .m-item-co {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#gsr .m-item-co>li {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 5px;
}

#gsr .m-item-co>li>h1 {
    font-size: 14px;
    margin: 0;
    padding: 0 0 5px;
    position: relative;
}

#gsr .m-item-co>li>h1:before {
    width: 16px;
    height: 16px;
    background: #333;
    content: "";
    display: block;
    position: absolute;
    left: -28px;
}

#gsr .m-item-co>li>span {
    font-size: 12px;
    color: #666;
    position: relative;
    padding-left: 15px;
}

#gsr .m-item-co>li>span:before {
    position: absolute;
    top: 9px;
    left: 2px;
    margin: auto;
    background-color: #aaa;
    width: 8px;
    height: 1px;
    content: "";
}

#gsr .m-item-co>li:last-child {
    border-bottom: 1px dashed #ccc;
}

#gsr .m-item-co>li+li {
    border-top: 1px dashed #ccc;
    padding-top: 10px;
}

#gsr .m-child-career+.m-child-career {
    margin: 10px 0;
}

#gsr .m-career-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    align-items: flex-start;
    border-bottom: 1px dashed #eee;
}

#gsr .m-sect+.m-sect {
    margin: 20px 0;
}

#gsr .m-sect {
    background: #fff;
    margin: 0;
    width: auto;
}
#gsr .m-achieve-item {
    font-size: 12px;
}

@media only screen and (max-width: 768px) {

  #gsr .input--submit {
    font-size: 16px;
  }

  #gsr .m-copyrights {
    text-align: center;
  }


  #gsr .m-search-main {
    background: transparent;
    width: auto;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  #gsr .m-close {
      left: 0;
      top: 0;
      border-radius: 0;
      width: 40px;
      height: 40px;
  }

  #gsr .m-search-head {
      margin-left: 40px;
  }

  #gsr .m-close:before, #gsr .m-close:after {
    right: 18px;
    height: 30px;
    top: 5px;
    border-left: 3px solid #eee;
  }

  #gsr .m-search-ret {
      margin: 0;
      /*background: rgba(200,200,200,.7);*/
  }

  #gsr .m-search-head>button {
    width: 80px;
    font-size: 16px;
    font-weight: bold;
  }

  #gsr .m-achieve-tl {
    width: auto; 
  }


  #gsr .m-style-list {
    flex-direction: column;
  }

  #gsr .m-style-pic {
      width: 100%;
  }

  #gsr .m-benefit-wrap {
      flex-direction: column;
  }

  #gsr .m-benefit-person {
      width: 100%;
  }

  #gsr .m-benefit-scheduel {
      margin: 10px 0 0 0;
  }

  #gsr .m-benefit-row>span {
      width: 20%;
      flex: 1;
  }

  #gsr .m-career-type {
      flex-direction: column;
      padding: 0;
  }

  #gsr .m-item-tl {
      width: 100%;
      padding: 5px 10px;
      background: #eee;
      color: #666;
  }

  #gsr .m-item-co {
      padding: 10px 10px 0 10px;
  }

  #gsr .m-career-item {
      flex-direction: column;
      padding: 0;
  }

  #gsr .m-item-co {
      padding: 5px 10px;
  }

  #gsr .m-achieve-co>span {
      width: calc( (100% - 10px)/2 );
      flex: auto;
  }


}

