<div class="m-about-content">
  <div class="m-section-title">
    <span data-locate="about.about">{{:about}}</span> - 
    <span data-locate="about.summary_title">{{:summary_title}}</span>
  </div>
  
  <div class="m-child-section">
    <p class="m-about-title ft-oswald" data-locate="about.summary_title">
      {{:summary_title}}
    </p>

    <div class="m-section__contents">
      <div class="child__txt ja__txt">
        <p class="child-section__txt" data-locate="about.summary_desc">{{:summary_desc}}</p>

        <p>
          <table>
            <tbody>
              <tr>
                <td class="m-tl" data-locate="about.r11t">{{:r11t}}</td>
                <td data-locate="about.r11v">{{:r11v}}</td>
                <td class="m-tl" data-locate="about.r12t">{{:r12t}}</td>
                <td data-locate="about.r12v">{{:r12v}}</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r21t">{{:r21t}}</td>
                <td data-locate="about.r21v">{{:r21v}}</td>
                <td class="m-tl" data-locate="about.r22t">{{:r22t}}</td>
                <td data-locate="about.r22v">{{:r22v}}</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r31t">{{:r31t}}</td>
                <td data-locate="about.r31v">{{:r31v}}</td>
                <td class="m-tl" data-locate="about.r32t">{{:r32t}}</td>
                <td data-locate="about.r32t">{{:r32t}}</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r41t">{{:r41t}}</td>
                <td data-locate="about.r41v">{{:r41v}}</td>
                <td class="m-tl" data-locate="about.r42t">{{:r42t}}</td>
                <td data-locate="about.r42v">{{:r42v}}</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r51t">{{:r51t}}</td>
                <td data-locate="about.r51v">{{:r51v}}</td>
                <td class="m-tl" data-locate="about.r52t">{{:r52t}}</td>
                <td data-locate="about.r52v">{{:r52v}}</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r61t">{{:r61t}}</td>
                <td data-locate="about.r61v">{{:r61v}}</td>
                <td class="m-tl" data-locate="about.r62t">{{:r62t}}</td>
                <td data-locate="about.r62v">{{:r62v}}</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r71t">{{:r71t}}</td>
                <td colspan="3" data-locate="about.r71v">{{:r71v}}</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r81t">{{:r81t}}</td>
                <td colspan="3" data-locate="about.r81v">{{:r81v}}</td>
              </tr>
              <tr>
                <td  class="m-tl" rowspan="5" data-locate="about.r91t">{{:r91t}}</td>
                <td colspan="3" data-locate="about.r91v1">{{:r91v1}}</td>
              </tr>
              <tr>
                <td colspan="3" data-locate="about.r91v2">{{:r91v2}}</td>
              </tr>
              <tr>
                <td colspan="3" data-locate="about.r91v3">{{:r91v3}}</td>
              </tr>
              <tr>
                <td colspan="3" data-locate="about.r91v4">{{:r91v4}}</td>
              </tr>
              <tr>
                <td colspan="3" data-locate="about.r91v5">{{:r91v5}}</td>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
    </div>

  </div>
  
  <div class="m-child-section">
    <p class="m-about-title ft-oswald" data-locate="about.philosophy_title">
      {{:philosophy_title}}
    </p>

    <div class="m-section__contents">
      <div class="child__txt ja__txt">
        <p class="child-section__img ">
          <img class="m-about-img" src="imgs/manage.svg" alt="">
        </p>
        <div class="m-management">
          {{for philosophy_desc}}
          <p class="child-section__txt m-shadow" data-locate="about.philosophy_desc[{{:#index}}]">
            {{:#data}}
          </p>
          {{/for}}
        </div>
      </div>
    </div>
  </div>

  <div class="m-child-section">
    <p class="m-about-title ft-oswald" data-locate="about.greet_title">
      {{:greet_title}}
    </p>

    <div class="m-section__contents">
      <div class="child__txt ja__txt m-greet-wrap">
        <p class="child-section__img m-xj">
          <img src="imgs/xj.jpg" alt="">
          <label class="m-img-profile">
            <span class="m-img-header" data-locate="about.greet_president">Bizplus株式会社 代表取締役社長</span>
            <span class="m-img-jname">江橋美香</span>
            <span class="m-img-ename">/ EBASHI MIKA</span>
          </label>
        </p>

        <div class="m-greet">
          {{for greet_list}}
          <p class="child-section__txt" data-locate="about.greet_list[{{:#index}}]">
            {{:#data}}
          </p>
          {{/for}}
          <p class="child-section__txt fn-right fn-margin">
            <span data-locate="about.greet_president">{{:greet_president}}</span>
            <br data-locate="about.greet_ename">江橋 美香
          </p>
        </div>
        
        
        
        
      </div>
    </div>
  </div>

  
</div>
