<div class="m-about-content">
  <div class="m-section-title">
    <span data-locate="about.about">{{:about}}</span> - 
    <span data-locate="about.summary_title">{{:summary_title}}</span>
  </div>
  
  <div class="m-child-section">
    <p class="m-about-title ft-oswald" data-locate="about.summary_title">
      {{:summary_title}}
    </p>

    <div class="m-section__contents">
      <div class="child__txt ja__txt">
        <p class="child-section__txt" data-locate="about.summary_desc">{{:summary_desc}}</p>

        <p>
          <table>
            <tbody>
              <tr>
                <td class="m-tl" data-locate="about.r11t">社名</td>
                <td data-locate="about.r11v">Bizplus株式会社</td>
                <td class="m-tl" data-locate="about.r12t">設立</td>
                <td data-locate="about.r12v">平成27年9月</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r21t">代表者</td>
                <td data-locate="about.r21v">代表取締役社長 江橋 美香</td>
                <td class="m-tl" data-locate="about.r22t">業種</td>
                <td data-locate="about.r22v">システム開発業 & コンサルタント業</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r31t">取締役</td>
                <td data-locate="about.r31v">鈴木　昌宏</td>
                <td class="m-tl" data-locate="about.r32t">監査役</td>
                <td data-locate="about.r32t">木戸口　俊夫</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r41t">顧問弁護士</td>
                <td data-locate="about.r41v">長　宏一</td>
                <td class="m-tl" data-locate="about.r42t">顧問</td>
                <td data-locate="about.r42v">北村　眞一 & 山口　晃</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r51t">特定労働者派遣事業</td>
                <td data-locate="about.r51v">特13-319165</td>
                <td class="m-tl" data-locate="about.r52t">労働者派遣事業許可証</td>
                <td data-locate="about.r52v">派13-309906</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r61t">決算月</td>
                <td data-locate="about.r61v">8月</td>
                <td class="m-tl" data-locate="about.r62t">資本金</td>
                <td data-locate="about.r62v">2200万円</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r71t">社員数</td>
                <td colspan="3" data-locate="about.r71v">62名（2018年8月末現在）</td>
              </tr>
              <tr>
                <td class="m-tl" data-locate="about.r81t">取引銀行</td>
                <td colspan="3" data-locate="about.r81v">三菱東京UFJ銀行（中野駅前支店）& みずほ銀行（新宿西口支店）</td>
              </tr>
              <tr>
                <td  class="m-tl" rowspan="5" data-locate="about.r91t">事業内容</td>
                <td colspan="3" data-locate="about.r91v1">ソフトウェアの受託開発業務</td>
              </tr>
              <tr>
                <td colspan="3" data-locate="about.r91v2">ソフトウェアの開発要員の派遣業務</td>
              </tr>
              <tr>
                <td colspan="3" data-locate="about.r91v3">コンピュータシステムの管理・運用業務</td>
              </tr>
              <tr>
                <td colspan="3" data-locate="about.r91v4">海外進出コンサルティング業務</td>
              </tr>
              <tr>
                <td colspan="3" data-locate="about.r91v5">人材教育・キャリアコンサルタント業務</td>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
    </div>

  </div>
  
  <div class="m-child-section">
    <p class="m-about-title ft-oswald" data-locate="about.philosophy_title">
      {{:philosophy_title}}
    </p>

    <div class="m-section__contents">
      <div class="child__txt ja__txt">
        <p class="child-section__img ">
          <img class="m-about-img" src="imgs/manage.svg" alt="">
        </p>
        <div class="m-management">
          {{for philosophy_desc}}
          <p class="child-section__txt m-shadow" data-locate="about.philosophy_desc[{{:#index}}]">
            {{:#data}}
          </p>
          {{/for}}
        </div>
      </div>
    </div>
  </div>

  <div class="m-child-section">
    <p class="m-about-title ft-oswald" data-locate="about.greet_title">
      {{:greet_title}}
    </p>

    <div class="m-section__contents">
      <div class="child__txt ja__txt">
        <p class="child-section__img">
          <img src="imgs/head.jpg" alt="">
          <label class="m-img-profile">
            <span class="m-img-header" data-locate="about.greet_president">Bizplus株式会社 代表取締役社長</span>
            <span class="m-img-jname">江桥美香</span>
            <span class="m-img-ename">/ YOSHIAKI TAKAHASHI</span>
          </label>
        </p>
        
        {{for greet_list}}
          <p class="child-section__txt" data-locate="about.greet_list[{{:#index}}]">
            {{:#data}}
          </p>
        {{/for}}
        
        <p class="child-section__txt fn-right fn-margin">
          <span data-locate="about.greet_president">{{:greet_president}}</span>
          <br data-locate="about.greet_ename">江橋 美香<br>2017年7月吉日</p>
      </div>
    </div>
  </div>

  
</div>
