<div class="m-about-content">
  <div class="m-section-title">企業情報 - 組織図</div>
  <div class="m-about-group">
    <img src="imgs/group-pc.svg" class="m-pc">
    <img src="imgs/group-mobile.svg" class="m-mobile">
  </div>
</div>
