<div class="m-about-content">
  <div class="m-section-title">企業情報 - アクセス</div>
  <p class="m-about-title">
    <span>01</span>
    個人情報保護方針
  </p>

  <div class="m-section__contents">
    <div class="child__txt ja__txt">
      <p class="child-section__txt">Bizplus株式会社（以下、当社という）は、情報サービス業として、業務上取り扱う全ての個人情報の重要性を認識し、お客様から信頼される個人情報保護マネジメントシステムの運用に取り組んでいきます。</p>
      <p class="child-section__txt">当社は事業活動にともない入手した当社の個人情報及びお客さまからお預かりした個人情報を、適法かつ公正に取扱うため「個人情報保護方針」を以下のとおり定め、当社の事業活動に従事する全ての役員、正社員、契約社員、パート、アルバイト、パートナー要員（以下、従業者という）にこの方針を周知徹底させ、適切な個人情報保護に努め改善してまいります。</p>
      <p class="child-section__txt">１．個人情報の取得、利用及び提供
当社の事業活動に合わせて、個人情報を保護するための管理体制を確立し、同意を得た範囲内での適切な個人情報の取得、利用及び提供に関する社内規定を定め、これを遵守し“目的外利用”は致しません。</p>
      <p class="child-section__txt">２．個人情報に関する法令、指針および規範の遵守
個人情報の取扱いに関する法令、国の指針、業界ガイドライン及びその他の規範を遵守します。</p>
      <p class="child-section__txt">３．個人情報へのリスクの予防並びに是正
個人情報に対するリスク（漏えい、滅失又はき損）に関する予防措置を実施し、個人情報の正確性、安全性を厳正に管理します。
個人情報に予期せぬリスクが発生した場合、速やかに是正措置を実施します。</p>
      <p class="child-section__txt">４．苦情及び相談への対応に関すること
お客さま及び従業者からの苦情及び相談に対して、手順を明確化し適切に対応致します。</p>
      <p class="child-section__txt">５．個人情報保護の教育・訓練
従業者が個人情報保護の重要性を理解し、個人情報を適正に取扱うよう「個人情報保護方針」を全社に浸透させ遵守させるとともに、必要な教育・啓蒙・監査を実施します。</p>
      <p class="child-section__txt">６．個人情報保護マネジメントシステムの継続的改善
当社の事業活動環境に合わせて適宜「個人情報保護方針」の見直しを実施し、個人情報保護マネジメントシステムの継続的改善を実施します。</p>
    </div>
  </div>

  <p class="m-about-title">
    <span>02</span>
    採用における個人情報の取扱いについて
  </p>

  <div class="m-section__contents">
    <div class="child__txt ja__txt">
      <p class="child-section__txt "><span class="child-title">個人情報の収集目的及び利用範囲</span></p>
      <p class="child-section__txt">当社は、社員の採用を目的として必要な範囲で収集した応募者の個人情報を、当社の採用業務の範囲内（応募資格、採用可否判断、連絡等）で利用します。個人情報の提供をご希望されない場合、ご本人の判断により提供を拒否することが可能です。ただし、この場合、採用選考に影響する場合がございますので予めご了承下さい。</p>
      <p class="child-section__txt"><span class="child-title">個人情報の提供</span></p>
      <p class="child-section__txt">当社では、次の場合を除いて個人情報をいかなる第三者にも提供または開示することはありません.
(1)ご本人が同意されている場合
(2)ご本人及び公衆の生命、健康、財産などの重大な利益を保全するために必要な場合
(3)法令等に基づく場合</p>
      <p class="child-section__txt child-title">個人情報の委託</p>
      <p class="child-section__txt">当社では、収集利用目的遂行のために、以下の個人情報の取り扱いの全部または一部を委託する場合があります。委託先については適切に評価し管理すると共に委託先における個人情報の取り扱いについては当社が責任を負います。</p>
      <p class="child-section__txt child-title">個人情報の安全管理</p>
      <p class="child-section__txt">(1)当社は個人情報の保護のため個人情報保護管理者をおいて個人情報の漏洩、紛失、改ざん、不正アクセス等の防止のため必要かつ適切な安全管理措置を継続的に講じ事故の防止に努めます。
(2)選考の結果採用となった方の応募書類は、入社後は人事管理資料（社内の個人情報）として取扱います。不採用となった方の応募書類については選考終了後、責任を持って廃棄いたします。</p>
      <p class="child-section__txt child-title">個人情報の開示等</p>
      <p class="child-section__txt">当社が取得し保有する応募者の個人情報について、本人が開示等を請求される場合は、ご本人であることを確認させていただいたうえで遅滞なくこれに応じます。これらの具体的な請求手続きについては、申請用紙がありますので、以下の問合せ先まで、ご連絡下さい。申請用紙は郵送、またはＦＡＸでお送りします。</p>
    </div>
  </div>

  <div class="m-about-footer">
    <div class="m-about-contact">
      <div class="m-contact__title">個人情報保護に関するお問合せ先</div>
      <div class="m-contact__wrap">
        <span>Bizplus株式会社 管理部</span>
        <span>受付時間：月～金（祝祭日、年末年始を除く）09:45～18:15</span>
        <span>TEL:03-6709-8260</span>
        <span>FAX:03-6709-8261</span>
        <span>E-mail:info@bizplus.co.jp</span>
      </div>
    </div>
    <div class="m-about-pmark">
      <img src="imgs/pmark.png" alt="">
    </div>
  </div>

  
</div>
