<div class="m-about-content">
  <div class="m-section-title">
    <span data-locate="security.title_main">{{:title_main}}</span> - 
    <span data-locate="security.title_sub">{{:title_sub}}</span>
  </div>

  <p class="m-about-title">
    <label>01</label>
    <span data-locate="security.part1_title">{{:part1_title}}</span>
  </p>

  <div class="m-section__contents">
    <div class="child__txt ja__txt">
      {{for part1_list}}
      <p class="child-section__txt" data-locate="security.part1_list[{{:#index}}]">{{:#data}}</p>
      {{/for}}
    </div>
  </div>

  <p class="m-about-title">
    <label>02</label>
    <span data-locate="security.part2_title">{{:part2_title}}</span>
  </p>

  <div class="m-section__contents">
    <div class="child__txt ja__txt">
      {{for part2_list}}
      <p class="child-section__txt {{:type}}" data-locate="security.part2_list[{{:#index}}].val">{{:val}}</p>
      {{/for}}

    </div>
  </div>

  <div class="m-about-footer">
    <div class="m-about-contact">
      <div class="m-contact__title">個人情報保護に関するお問合せ先</div>
      <div class="m-contact__wrap">
        <span>Bizplus株式会社 管理部</span>
        <span>受付時間：月～金（祝祭日、年末年始を除く）09:45～18:15</span>
        <span>TEL:03-6709-8260</span>
        <span>FAX:03-6709-8261</span>
        <span>E-mail:info@bizplus-inc.com</span>
      </div>
    </div>
    <div class="m-about-pmark">
      <img src="imgs/pmark.png" alt="">
    </div>
  </div>

  
</div>
