<div class="m-about-content">
  <div class="m-section-title">
    <span data-locate="security.title_main">{{:title_main}}</span> - 
    <span data-locate="security.title_sub">{{:title_sub}}</span>
  </div>

  <p class="m-about-title">
    <label>01</label>
    <span data-locate="security.part1_title">{{:part1_title}}</span>
  </p>

  <div class="m-section__contents">
    <div class="child__txt ja__txt">
      {{for part1_list}}
      <p class="child-section__txt" data-locate="security.part1_list[{{:#index}}]">{{:#data}}</p>
      {{/for}}
    </div>
  </div>

  <p class="m-about-title">
    <label>02</label>
    <span data-locate="security.part2_title">{{:part2_title}}</span>
  </p>

  <div class="m-section__contents">
    <div class="child__txt ja__txt">
      {{for part2_list}}
      <p class="child-section__txt {{:type}}" data-locate="security.part2_list[{{:#index}}].val">{{:val}}</p>
      {{/for}}

    </div>
  </div>


  
</div>
