<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/lib/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
