<div class="g-index" style="display: none;">
  <section class="m-main">
    <div class="m-wait">等待评委登录......</div>
    <div class="m-info">
      <span class="u-gid">G01</span>
      <span class="u-title">网络实时评分系统</span>
      <span class="u-member">张三、李四、王五</span>
      <span class="u-git"><a href="#">http://github.com/score</a></span>
    </div>
    <div class="m-score"  id="result-f"></div>
  </section>
  <section class="m-audit"></section>
  <section class="m-order"></section>
  <section class="m-result" style="display: none" >
  </section>
</div>



<link rel='stylesheet' href='/stylesheets/common.css' />
<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/lib/alertify/alertify.css' />

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/lib/jquery.min.js"></script>
<script src="/lib/alertify/alertify.min.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/index.js"></script>