<div class="m-contact-content">
  <div class="m-section-title">
    <span data-locate="contact.title_main">{{:title_main}}</span>
  </div>
  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald"><span>ACCESS</span></p>
    
    {{for map_list}}
    <div class="m-child-wrap">
      <div class="m-info">
        <h1 data-locate="contact.map_list[{{:#index}}].name">{{:name}}</h1>
        <p class="m-addr">
          <span data-locate="contact.map_list[{{:#index}}].code">{{:code}}</span>
          <span data-locate="contact.map_list[{{:#index}}].tel">{{:tel}}</span>
          <span data-locate="contact.map_list[{{:#index}}].fax">{{:fax}}</span>
          <span data-locate="contact.map_list[{{:#index}}].addr">{{:addr}}</span>
        </p>
        <p class="m-access">
          <em data-locate="contact.map_list[{{:#index}}].access">{{:access}}</em>
          {{for access_list ~pindex=#index}}
          <addr data-locate="contact.map_list[{{:~pindex}}].access_list[{{:#index}}]">{{:#data}}</addr>
          {{/for}}
        </p>
      </div>
      <div class="m-map" id="{{:id}}"></div>
    </div>
    {{/for}}


    <p class="m-child-title ft-oswald"><span>CONTACT</span></p>

    <div class="m-child-wrap">
      <div class="m-cdate">
        <p>
          <span data-locate="contact.con_title">{{:con_title}}</span>
          <span data-locate="contact.con_date">{{:con_date}}</span>
          <span data-locate="contact.con_time">{{:con_time}}</span>
          <span data-locate="contact.con_tel">{{:con_tel}}</span>
          <span data-locate="contact.con_fax">{{:con_fax}}</span>
        </p>
        
      </div>
    </div>
    <div class="m-child-wrap m-child-wrap-s">
      <div class="m-form">
        <div class="m-form-item">
          <div class="m-form-tl m-require" data-locate="contact.form_ask">{{:form_ask}}</div>
          <div class="m-form-ip">
            <select id="fs_type" class="input--select">
              <option value="" selected="" data-locate="contact.form_sel">{{:form_sel}}</option>
              <option data-locate="contact.form_sel_c1">{{:form_sel_c1}}</option>
              <option data-locate="contact.form_sel_c2">{{:form_sel_c2}}</option>
              <option data-locate="contact.form_sel_c3">{{:form_sel_c3}}</option>
            </select>
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl m-require" data-locate="contact.form_name">{{:form_name}}</div>
          <div class="m-form-ip">
            <input type="text" id="fs_name" class="input--text">
          </div>
        </div>
        <div class="m-form-item ">
          <div class="m-form-tl m-require" data-locate="contact.form_email">{{:form_email}}</div>
          <div class="m-form-ip">
            <input type="email" id="fs_mail" class="input--text">
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl" data-locate="contact.form_tel">{{:form_tel}}</div>
          <div class="m-form-ip">
            <input type="tel" id="fs_tel" class="input--text">
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl m-require" data-locate="contact.form_title">{{:form_title}}</div>
          <div class="m-form-ip">
            <input type="text" id="fs_title" class="input--text">
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl m-require" data-locate="contact.form_con">{{:form_con}}</div>
          <div class="m-form-ip">
            <textarea type="text" id="fs_message" class="input--textarea"rows="8"></textarea>
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-agree">
            <div class="m-agree-r1">
              <span>※</span> 
              <a href="about.html?type=3" data-locate="contact.form_agree1">[{{:form_agree1}}]</a> 
              <span data-locate="contact.form_agree2">{{:form_agree2}}</span>
            </div>
            <div class="m-agree-r2">
              <span data-locate="contact.form_agree3">{{:form_agree3}}</span>
            </div>
            
          </div>
        </div>
        
        <div class="m-form-item">
          <input type="submit" value="送信" class="input--submit">
        </div>
      </div>
    </div>
  </div>

</div>
