<div class="m-contact-content">
  <div class="m-section-title">お問い合せ</div>
  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald"><span>ACCESS</span></p>

    <div class="m-child-wrap">
      <div class="m-info">
        <h1>東京本社</h1>
        <p class="m-addr">
          <span>〒162-0067</span>
          <span>TEL 03-6709-8260</span>
          <span>FAX 03-6709-8261</span>
          <span>東京都新宿区富久町1番5号富久町第5服部ビル2階</span>
        </p>
        <p class="m-access">
          <em>アクセス</em>
          <addr>都営新宿線曙橋駅より徒歩４分</addr>
          <addr>東京メトロ丸ノ内線四谷三丁目駅より徒歩８分</addr>
        </p>
      </div>
      <div class="m-map" id="office-tokyo__map"></div>
    </div>

    <div class="m-child-wrap">
      <div class="m-info">
        <h1>大阪支社</h1>
        <p class="m-addr">
          <span>〒550-0005</span>
          <span>TEL 03-6709-8260</span>
          <span>FAX 03-6709-8261</span>
          <span>大阪市西区西本町2-1-34 SONO西本町ビル4階C号室</span>
        </p>
        <p class="m-access">
          <em>アクセス</em>
          <addr>都営新宿線曙橋駅より徒歩４分</addr>
          <addr>東京メトロ丸ノ内線四谷三丁目駅より徒歩８分</addr>
        </p>
      </div>
      <div class="m-map" id="office-osaka__map"></div>
    </div>
 

    <div class="m-child-wrap">
      <div class="m-info">
        <h1>中国西安支社</h1>
        <p class="m-addr">
          <span>〒710077</span>
          <span>TEL 029-89368167</span>
          <span>FAX 029-89368167</span>
          <span>陕西省西安市未央区辛家庙新建国大厦10906号</span>
        </p>
        <p class="m-access">
          <em>アクセス</em>
          <addr>乘坐二环二号线辛家庙公家站下车，徒步5分钟</addr>
        </p>
      </div>
      <div class="m-map" id="office-xian__map"></div>
    </div>


    <p class="m-child-title ft-oswald"><span>CONTACT</span></p>

    <div class="m-child-wrap">
      <div class="m-cdate">
        <p>
          <span>お電話でのお問い合わせ</span>
          <span>受付日：月曜日〜金曜日（祝祭日、年末年始を除く）</span>
          <span>受付時間：09:45〜18:15</span>
          <span>TEL：03-6709-8260</span>
          <span>FAX：03-6709-8261</span>
        </p>
        
      </div>
    </div>
    <div class="m-child-wrap m-child-wrap-s">
      <div class="m-form">
        <div class="m-form-item">
          <div class="m-form-tl m-require">お問い合わせの種別</div>
          <div class="m-form-ip">
            <select id="fs_type" class="input--select">
              <option value="" selected="">選択してください</option>
              <option>当社事業に関する問い合わせ</option>
              <option>採用に関する問い合わせ</option>
              <option>その他</option>
            </select>
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl m-require">お名前</div>
          <div class="m-form-ip">
            <input type="text" id="fs_name" class="input--text">
          </div>
        </div>
        <div class="m-form-item ">
          <div class="m-form-tl m-require">メールアドレス</div>
          <div class="m-form-ip">
            <input type="email" id="fs_mail" class="input--text">
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl">電話番号</div>
          <div class="m-form-ip">
            <input type="tel" id="fs_tel" class="input--text">
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl m-require">題名</div>
          <div class="m-form-ip">
            <input type="text" id="fs_title" class="input--text">
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl m-require">お問い合わせ内容</div>
          <div class="m-form-ip">
            <textarea type="text" id="fs_message" class="input--textarea"rows="8"></textarea>
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-agree">
            <div class="m-agree-r1">
              <span>※</span> 
              <a href="about.html?type=3">[セキュリティポリシー]</a> 
              <span>をご確認いただき、</span>
            </div>
            <div class="m-agree-r2">
              <span>同意いただける方はチェックをお願いします。</span>
            </div>
            
          </div>
        </div>
        
        <div class="m-form-item">
          <input type="submit" value="送信" class="input--submit">
        </div>
      </div>
    </div>
  </div>

</div>
