<div class="m-contact-content">
  <div class="m-section-title">
    <span data-locate="contact.title_main">{{:title_main}}</span>
  </div>
  
  <div class="m-child-section">

    <p class="m-child-title ft-oswald"><span>CONTACT</span></p>

    <div class="m-child-wrap">
      <div class="m-cdate">
        <p>
          <span data-locate="contact.con_title">{{:con_title}}</span>
          <span data-locate="contact.con_date">{{:con_date}}</span>
          <span data-locate="contact.con_time">{{:con_time}}</span>
          <span data-locate="contact.con_tel">{{:con_tel}}</span>
          <span data-locate="contact.con_fax">{{:con_fax}}</span>
        </p>
        
      </div>
    </div>
    <div class="m-child-wrap m-child-wrap-s">
      <form class="m-form m-form-contact">
        <div class="m-form-item">
          <div class="m-form-tl m-require" data-locate="contact.form_ask">{{:form_ask}}</div>
          <div class="m-form-ip">
            <select id="fs_type" class="input--select form-control">
              <option value="0" data-locate="contact.form_sel_c1">{{:form_sel_c1}}</option>
              <option value="1" data-locate="contact.form_sel_c2">{{:form_sel_c2}}</option>
              <option value="2" data-locate="contact.form_sel_c3">{{:form_sel_c3}}</option>
            </select>
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl m-require" data-locate="contact.form_name">{{:form_name}}</div>
          <div class="m-form-ip">
            <input type="text" id="fs_name" class="input--text form-control" required>
            <span class="invalid-feedback">请填写姓名</span>
          </div>
        </div>
        <div class="m-form-item ">
          <div class="m-form-tl m-require" data-locate="contact.form_email">{{:form_email}}</div>
          <div class="m-form-ip">
            <input type="email" id="fs_mail" class="input--text form-control" required>
            <span class="invalid-feedback">请填写有效的电子邮箱</span>
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl" data-locate="contact.form_tel">{{:form_tel}}</div>
          <div class="m-form-ip">
            <input type="tel" id="fs_tel" class="input--text form-control" pattern="^1(3|4|5|7|8)\d{9}$" >
            <span class="invalid-feedback">请填写有效的手机号码</span>
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl m-require" data-locate="contact.form_title">{{:form_title}}</div>
          <div class="m-form-ip">
            <input type="text" id="fs_title" class="input--text form-control" required>
            <span class="invalid-feedback">请填写题目</span>
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-form-tl m-require" data-locate="contact.form_con">{{:form_con}}</div>
          <div class="m-form-ip">
            <textarea type="text" id="fs_contact" class="input--textarea form-control"rows="8" required></textarea>
            <span class="invalid-feedback">请填写留言内容</span>
          </div>
        </div>
        <div class="m-form-item">
          <div class="m-agree">
            <div class="m-agree-r1">
              <span>※</span> 
              <a href="about.html?type=3" data-locate="contact.form_agree1">[{{:form_agree1}}]</a> 
              <span data-locate="contact.form_agree2">{{:form_agree2}}</span>
            </div>
            <div class="m-agree-r2">
              <span data-locate="contact.form_agree3">{{:form_agree3}}</span>
            </div>
            
          </div>
        </div>
        
        <div class="m-form-item">
          <input type="button" value="送信" class="input--submit" id="btn-contact">
        </div>
      </form>
    </div>
  </div>

</div>
