<div class="m-contact-content">
  <div class="m-section-title">
    <span data-locate="achieve.business">{{:business}}</span> - 
    <span data-locate="achieve.business_title">{{:business_title}}</span>
  </div>
  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald">
      <span>Achievements</span>
    </p>
    

    <div class="m-achieve-section">

      {{for list}}
      <div class="m-achieve-item">
        <div class="m-achieve-head" data-locate="achieve.list[{{:#index}}].title">
          {{:title}}
        </div>
        <div class="m-achieve-wrap">
          <div class="m-achieve-row">
            <div class="m-achieve-tl" data-locate="achieve.list[{{:#index}}].tl1">{{:tl1}}</div> 
            <div class="m-achieve-co" data-locate="achieve.list[{{:#index}}].vl1">{{:vl1}}</div>
          </div>
          <div class="m-achieve-row">
            <div class="m-achieve-tl" data-locate="achieve.list[{{:#index}}].tl2">{{:tl2}}</div> 
            <div class="m-achieve-co" data-locate="achieve.list[{{:#index}}].vl2">{{:vl2}}</div>
          </div>
          <div class="m-achieve-row">
            <div class="m-achieve-tl" data-locate="achieve.list[{{:#index}}].tl3">{{:tl3}}</div> 
            <div class="m-achieve-co" data-locate="achieve.list[{{:#index}}].vl3">{{:vl3}}</div>
          </div>
          <div class="m-achieve-row">
            <div class="m-achieve-tl" data-locate="achieve.list[{{:#index}}].tl4">{{:tl4}}</div> 
            <div class="m-achieve-co" data-locate="achieve.list[{{:#index}}].vl4">{{:vl4}}</div>
          </div>
        </div>
      </div>
      {{/for}}

    
  </div>

</div>

