<div class="m-contact-content">
  <div class="m-section-title">事業分野 - 委托方案</div>
  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald">
      <span>Outsourcing Solutions</span>
    </p>
    
    <div class="m-child-section m-child-info">
      <p class="m-info-wrap">
        <span>Bizplusは、経験豊富なPM、開発チームを活用することにより、お客様の多様なニーズに応え、</span>
        <span>最適なソリューションを提案し、業務理解・上流設計・受入テスト等までに、レベルの高い（高品質・高技術）サービスを提供します。</span>
      </p>
    </div>

    <div class="m-develop-section">
      <h1>開発リレーションシップ</h1>
      <img src="imgs/apply.jpg" alt="">
    </div>
    
  </div>
</div>




