<div class="m-contact-content">
  <div class="m-section-title">
  <span data-locate="outsource.business">{{:business}}</span> - 
    <span data-locate="outsource.business_title">{{:business_title}}</span>
  </div>
  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald">
      <span>Outsourcing Solutions</span>
    </p>
    
    <div class="m-child-section m-child-info">
      <p class="m-info-wrap">
        <span data-locate="outsource.title_s1">{{:title_s1}}</span>
        <span data-locate="outsource.title_s2">{{:title_s2}}</span>
      </p>
    </div>

    <div class="m-develop-section">
      <h1>開発リレーションシップ</h1>
      <img src="imgs/apply.svg" alt="">
    </div>
    
  </div>
</div>




