<div class="m-contact-content">
  <div class="m-section-title">事業分野 - 人才派遣</div>
  
  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald">
      <span>Talent Dispatch</span>
    </p>
    
    <div class="m-child-section m-child-info">
      <p class="m-info-wrap">
        <label>Bizplusは、お客様の業務推進及びサポートに対応する為の多くの外国人技術者を擁しております。2015年、特定労働者派遣事業許可を取得し現在、日本のIT分野において外国人技術者の派遣業務を展開しています</label>
        <span>派遣内容: ＳＥ、ＰＧ、ＢＳＥ</span>
        <span>派遣地域: 東京、大阪、名古屋、神戸、長野、浜松</span>
      </p>
    </div>

    <div class="m-business-section">
      <div class="m-business-item">
        <h1>情報関連資格</h1>
        <div class="m-business-wrap">
          <span>基本情報処理技術者</span>
          <span>Oracle Gold(10g, 11g)</span>
          <span>PL/SQL Silver</span>
        </div>
        <div class="m-business-wrap">
          <span>Java Silver</span>
          <span>LPIC Level2</span>
          <span>Red Hat Certified Engineer</span>
          <span>PMP</span>
        </div>
      </div>


      <div class="m-business-item">
        <h1>言語関連</h1>
        <div class="m-lang-wrap">
          <div class="m-lang-item">
            <img src="imgs/skill/lang-jlpt.svg" alt="">
            <div>
              <span>N1級</span>
              <label>16</label>
            </div>
          </div>
          <div class="m-lang-item">
            <img src="imgs/skill/lang-jlpt.svg" alt="">
            <div>
              <span>N2級</span>
              <label>10</label>
            </div>
          </div>
          <div class="m-lang-item">
            <img src="imgs/skill/lang-toeic.svg" alt="">
            <div>
              <span>>850点</span>
              <label>2</label>
            </div>
          </div>
          <div class="m-lang-item">
            <img src="imgs/skill/lang-toeic.svg" alt="">
            <div>
              <span>>750点</span>
              <label>8</label>
            </div>
          </div>
        </div>
      </div>


      <div class="m-business-item">
        <h1>開発言語</h1>
        <div class="m-business-wrap">
          <span>Java</span>
          <span>C / C++ / C#</span>
          <span>.Net系[VB/ASP/C#]</span>
        </div>
        <div class="m-business-wrap">
          <span>VBA(Excel、Access)</span>
          <span>PHP</span>
          <span>COBOL</span>
          <span>PYTHON</span>
        </div>
      </div>


      <div class="m-business-item">
        <h1>DB関連語</h1>
        <div class="m-db-wrap">
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-db2.svg" alt="">
            <span>DB2</span>
          </div>
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-mysql.svg" alt="">
            <span>MYSQL</span>
          </div>
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-oracle.svg" alt="">
            <span>ORACLE</span>
          </div>
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-post.svg" alt="">
            <span>POSTGRALE</span>
          </div>
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-sqlserver.svg" alt="">
            <span>SQL SERVER</span>
          </div>
        </div>
      </div>


      <div class="m-business-item">
        <h1>得意分野</h1>
        <div class="m-business-wrap">
          <span>金融系[銀行業/証券業]</span>
          <span>保険業</span>
          <span>販売管理系</span>
          <span>製造業システム</span>
        </div>
        <div class="m-business-wrap">
          <span>流通業システム</span>
          <span>物流業</span>
          <span>運用管管理業務</span>
          <span>人事、給与、会計、財務システム</span>
          <span>インフラ構築</span>
        </div>
      </div>





    </div>
    
  </div>


</div>
