<div class="m-contact-content">
  <div class="m-section-title">
    <span data-locate="foreigner.business">{{:business}}</span> - 
    <span data-locate="foreigner.business_title">{{:business_title}}</span>
  </div>
  
  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald">
      <span>Talent Dispatch</span>
    </p>
    
    <div class="m-child-section m-child-info">
      <p class="m-info-wrap">
        <label data-locate="foreigner.title_main">{{:title_main}}</label>
        <span data-locate="foreigner.title_s1">{{:title_s1}}</span>
        <span data-locate="foreigner.title_s2">{{:title_s2}}</span>
      </p>
    </div>

    <div class="m-business-section">
      <div class="m-business-item">
        <h1 data-locate="foreigner.info_part">{{:info_part}}</h1>
        <div class="m-business-wrap">
          <span data-locate="foreigner.info_s">{{:info_s}}</span>
          <span>Oracle Gold(10g, 11g)</span>
          <span>PL/SQL Silver</span>
        </div>
        <div class="m-business-wrap">
          <span>Java Silver</span>
          <span>LPIC Level2</span>
          <span>Red Hat Certified Engineer</span>
          <span>PMP</span>
        </div>
      </div>


      <div class="m-business-item">
        <h1 data-locate="foreigner.lang_part">{{:lang_part}}</h1>
        <div class="m-lang-wrap">
          <div class="m-lang-item">
            <img src="imgs/skill/lang-jlpt.svg" alt="">
            <div>
              <span>N1級</span>
              <label>16</label>
            </div>
          </div>
          <div class="m-lang-item">
            <img src="imgs/skill/lang-jlpt.svg" alt="">
            <div>
              <span>N2級</span>
              <label>10</label>
            </div>
          </div>
          <div class="m-lang-item">
            <img src="imgs/skill/lang-toeic.svg" alt="">
            <div>
              <span>>850点</span>
              <label>2</label>
            </div>
          </div>
          <div class="m-lang-item">
            <img src="imgs/skill/lang-toeic.svg" alt="">
            <div>
              <span>>750点</span>
              <label>8</label>
            </div>
          </div>
        </div>
      </div>


      <div class="m-business-item">
        <h1 data-locate="foreigner.dev_part">{{:dev_part}}</h1>
        <div class="m-business-wrap">
          <span>Java</span>
          <span>C / C++ / C#</span>
          <span>.Net系[VB/ASP/C#]</span>
        </div>
        <div class="m-business-wrap">
          <span>VBA(Excel、Access)</span>
          <span>PHP</span>
          <span>COBOL</span>
          <span>PYTHON</span>
        </div>
      </div>


      <div class="m-business-item">
        <h1 data-locate="foreigner.db_part">{{:db_part}}</h1>
        <div class="m-db-wrap">
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-db2.svg" alt="">
            <span>DB2</span>
          </div>
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-mysql.svg" alt="">
            <span>MYSQL</span>
          </div>
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-oracle.svg" alt="">
            <span>ORACLE</span>
          </div>
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-post.svg" alt="">
            <span>POSTGRALE</span>
          </div>
          <div class="m-lang-item m-db-item">
            <img src="imgs/skill/db-sqlserver.svg" alt="">
            <span>SQL SERVER</span>
          </div>
        </div>
      </div>


      <div class="m-business-item">
        <h1 data-locate="foreigner.ex_part">{{:ex_part}}</h1>
        <div class="m-business-wrap">
          {{for ex_list1}}
            <span data-locate="foreigner.ex_list1[{{:#index}}]">{{:#data}}</span>
          {{/for}}
        </div>
        <div class="m-business-wrap">
          {{for ex_list2}}
            <span data-locate="foreigner.ex_list2[{{:#index}}]">{{:#data}}</span>
          {{/for}}
        </div>
      </div>

    </div>
  </div>
</div>
