<div class="m-contact-content">
  <div class="m-section-title"><span data-locate="other.business">{{:business}}</span> - 
    <span data-locate="other.business_title">{{:business_title}}</span>
  </div>
  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald">
      <span>Other Services</span>
    </p>
  

    <div class="m-other-section">
      
      <div class="m-other-item">
        <div class="m-other-title">
          <h1 data-locate="other.rob_list.title">{{:rob_list.title}}</h1>
          <img src="{{:rob_list.img}}" alt="">
        </div>
        <p>
          <label data-locate="other.rob_list.title">{{:rob_list.title}}</label>
          {{for rob_list.list}}
          <span data-locate="other.rob_list.list[{{:#index}}]">{{:#data}}</span>
          {{/for}}
        </p>
      </div>

      <div class="m-other-item">
        <div class="m-other-title">
          <h1 data-locate="other.con_list.title">{{:con_list.title}}</h1>
          <img src="{{:con_list.img}}" alt="">
        </div>
        <p>
          <label data-locate="other.con_list.title">{{:con_list.title}}</label>
          {{for con_list.list}}
          <span data-locate="other.con_list.list[{{:#index}}]">{{:#data}}</span>
          {{/for}}
        </p>
      </div>

      <div class="m-other-item">
        <div class="m-other-title">
          <h1 data-locate="other.edu_list.title">{{:edu_list.title}}</h1>
          <img src="{{:edu_list.img}}" alt="">
        </div>
        <p>
          <label data-locate="other.edu_list.title">{{:edu_list.title}}</label>
          {{for edu_list.list}}
          <span data-locate="other.edu_list.list[{{:#index}}]">{{:#data}}</span>
          {{/for}}
        </p>
      </div>
      
      
    </div>
    
  </div>


</div>







 



