<div class="m-ft-wrap">
  <div class="m-left-wrap">
    <div class="m-ft-logo">
      <img src="imgs/pmark.png" alt="">
    </div>
  </div>
  <div class="m-right-wrap">
    <div class="m-linkitem">
      <li><a href="#" data-locate="menu.company"     >企業情報</a></li>
      <li><a href="#" data-locate="menu.company.info">会社概要</a></li>
      <!-- <li><a href="#" data-locate="menu.company.idea">理念经营</a></li> -->
      <li><a href="#" data-locate="menu.company.grop">組織図</a></li>
      <li><a href="#" data-locate="menu.company.safe">セキュリティポリシー</a></li>
    </div>
    <div class="m-linkitem">
      <li><a href="#" data-locate="menu.business"     >事業分野</a></li>
      <li><a href="#" data-locate="menu.business.info">业务概要</a></li>
      <li><a href="#" data-locate="menu.business.disp">人才派遣</a></li>
      <li><a href="#" data-locate="menu.business.bail">委托方案</a></li>
      <li><a href="#" data-locate="menu.business.othr">其他业务</a></li>
      <li><a href="#" data-locate="menu.business.ache">开发实绩</a></li>
    </div>
    <div class="m-linkitem">
      <li><a href="#" data-locate="menu.benefits"     >社员福利</a></li>
      <li><a href="#" data-locate="menu.benefits.cult">企业文化</a></li>
      <li><a href="#" data-locate="menu.benefits.tech">社内教育</a></li>
    </div>
    <div class="m-linkitem">
      <li><a href="#" data-locate="menu.jobs">採用情報</a></li>
    </div>
    <div class="m-linkitem">
      <li><a href="contact.html" data-locate="menu.asks">お問い合わせ</a></li>
    </div>
  </div>
  
</div>
<div class="m-copyrights">
  <p>© 2019 BizPlus CORPORATION All rights Reserved.</p>
</div>