<div class="m-ft-wrap">
  <div class="m-left-wrap">
    <div class="m-ft-logo">
      <img src="imgs/pmark.png" alt="">
    </div>
  </div>
  <div class="m-right-wrap">
    <div class="m-linkitem">
      <li><a href="#" data-locate="menu_company"     >企業情報</a></li>
      <li><a href="about.html?type=0" data-locate="menu_company_info">会社概要</a></li>
      <!-- <li><a href="#" data-locate="menu_company.idea">理念经营</a></li> -->
      <li><a href="about.html?type=2" data-locate="menu_company_grop">組織図</a></li>
      <li><a href="about.html?type=3" data-locate="menu_company_safe">セキュリティポリシー</a></li>
    </div>
    <div class="m-linkitem">
      <li><a href="#" data-locate="menu_business"     >事業分野</a></li>
      <li><a href="business.html?type=0" data-locate="menu_business_info">业务概要</a></li>
      <li><a href="business.html?type=1" data-locate="menu_business_disp">人才派遣</a></li>
      <li><a href="business.html?type=2" data-locate="menu_business_bail">委托方案</a></li>
      <li><a href="business.html?type=3" data-locate="menu_business_othr">其他业务</a></li>
      <li><a href="business.html?type=4" data-locate="menu_business_ache">开发实绩</a></li>
    </div>
    <div class="m-linkitem">
      <li><a href="#" data-locate="menu_benefits"     >社员福利</a></li>
      <li><a href="benefit.html?type=0" data-locate="menu_benefits_cult">企业文化</a></li>
      <li><a href="benefit.html?type=1" data-locate="menu_benefits_tech">社内教育</a></li>
    </div>
    <div class="m-linkitem">
      <li><a href="careers.html" data-locate="menu_jobs">採用情報</a></li>
    </div>
    <div class="m-linkitem">
      <li><a href="access.html" data-locate="menu_jobs">アクセス</a></li>
    </div>
    <div class="m-linkitem">
      <li><a href="contact.html" data-locate="menu_asks">お問い合わせ</a></li>
    </div>
  </div>
  
</div>
<div class="m-copyrights">
  <p>© 2019 BizPlus CORPORATION All rights Reserved.</p>
</div>