<div class="m-logo">
    <img src="imgs/bizplus_logo.svg" alt="">
  </div>
  <span class="m-logo-txt">Bizplus</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
<div class="m-menu collapse navbar-collapse"  id="navbarText">
  <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="nav-link" href="/" data-locate="menu.home">ホーム</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-locate="menu.company">
        企業情報
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item g-text-gray" href="about.html?type=0" data-locate="menu.company.info">会社概要</a>
        <!-- <a class="dropdown-item g-text-gray" href="about.html?type=1" data-locate="menu.company.idea">理念经营</a> -->
        <a class="dropdown-item g-text-gray" href="about.html?type=2" data-locate="menu.company.grop">組織図  </a>
        <a class="dropdown-item g-text-gray" href="about.html?type=3" data-locate="menu.company.safe">セキュリティポリシー</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"  data-locate="menu.business">
        事業分野
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item g-text-gray" href="business.html?type=0" data-locate="menu.business.info">业务概要</a>
        <a class="dropdown-item g-text-gray" href="business.html?type=1" data-locate="menu.business.disp">人才派遣</a>
        <a class="dropdown-item g-text-gray" href="business.html?type=2" data-locate="menu.business.bail">委托方案</a>
        <a class="dropdown-item g-text-gray" href="business.html?type=3" data-locate="menu.business.othr">其他业务</a>
        <a class="dropdown-item g-text-gray" href="business.html?type=4" data-locate="menu.business.ache">开发实绩</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-locate="menu.benefits">
        社员福利
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item g-text-gray" href="benefit.html?type=0" data-locate="menu.benefits.cult">企业文化</a>
        <a class="dropdown-item g-text-gray" href="benefit.html?type=1" data-locate="menu.benefits.tech">社内教育</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="careers.html" data-locate="menu.jobs">採用情報</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html" data-locate="menu.asks">お問い合わせ</a>
    </li>
  </ul>
</div>