<div class="m-logo">
    <img src="/imgs/bizplus_logo.svg" alt="">
  </div>
  <span class="m-logo-txt">Bizplus</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
<div class="m-menu collapse navbar-collapse"  id="navbarText">
  <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="nav-link" href="/" data-locate="menu_home">ホーム</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-locate="menu_company">
        企業情報
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item g-text-gray" href="about.html?type=0" data-locate="menu_company_info">会社概要</a>
        <!-- <a class="dropdown-item g-text-gray" href="about.html?type=1" data-locate="menu.company.idea">理念经营</a> -->
        <a class="dropdown-item g-text-gray" href="about.html?type=2" data-locate="menu_company_grop">組織図  </a>
        <a class="dropdown-item g-text-gray" href="about.html?type=3" data-locate="menu_company_safe">セキュリティポリシー</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"  data-locate="menu_business">
        事業分野
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item g-text-gray" href="business.html?type=0" data-locate="menu_business_info">业务概要</a>
        <a class="dropdown-item g-text-gray" href="business.html?type=1" data-locate="menu_business_disp">人才派遣</a>
        <a class="dropdown-item g-text-gray" href="business.html?type=2" data-locate="menu_business_bail">委托方案</a>
        <a class="dropdown-item g-text-gray" href="business.html?type=3" data-locate="menu_business_othr">其他业务</a>
        <a class="dropdown-item g-text-gray" href="business.html?type=4" data-locate="menu_business_ache">开发实绩</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" data-locate="menu_benefits">
        社员福利
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item g-text-gray" href="benefit.html?type=0" data-locate="menu_benefits_cult">企业文化</a>
        <a class="dropdown-item g-text-gray" href="benefit.html?type=1" data-locate="menu_benefits_tech">社内教育</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="careers.html" data-locate="menu_jobs">採用情報</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="access.html" data-locate="menu_access">アクセス</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html" data-locate="menu_asks">お問い合わせ</a>
    </li>
  </ul>
</div>