<div class="m-title ft-oswald">
  <span>お知らせ</span>
</div>
<div class="m-news-wrap">
  {{for news}}
    <div class="m-news-item">
      <div class="m-news-date">{{:date}}</div>
      <div class="m-news-title" data-locate="home_news[{{:#index}}].title">{{:title}}</div>
    </div>
  {{/for}}
</div>