<div class="m-title ft-oswald">
  <span>NEWS RELEASE</span>
</div>
<div class="m-news-wrap">
  {{for news}}
  <div class="m-news-item">
    <span class="m-news-date">{{:date}}</span>
    <span class="m-news-title">{{:tl}}</span>
    <span class="m-news-content">{{:content}}</span>
  </div>
  {{/for}}
</div>