<div class="m-contact-content">
  <div class="m-section-title">
    <span data-locate="edu.title_main">{{:title_main}}</span> - 
    <span data-locate="edu.title_sub">{{:title_sub}}</span>
  </div>

  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald">
      <span>Internal Education</span>
    </p>

    <div class="m-benefit-section">
      {{for list}}
      <div class="m-benefit-item">
        <div class="m-benefit-head">
          <img src="{{:img}}" alt="">
          <h1 data-locate="edu.list[{{:#index}}].title">{{:title}}</h1>
        </div>
        <div class="m-benefit-main">
          <p>
            {{for dlist ~pindex=#index}}
            <span data-locate="edu.list[{{:~pindex}}].dlist[{{:#index}}]">{{:#data}}</span>
            {{/for}}
          </p>
        </div>
      </div>
      {{/for}}
    </div>  


    <div class="m-benefit-section">
      <div class="m-benefit-title">
        <span data-locate="edu.ptitle">{{:ptitle}}</span>
      </div>
      <div class="m-benefit-wrap">
        <div class="m-benefit-person">
          <div class="m-benefit-pic">
            <img src="imgs/person.svg" alt="">
          </div>
          <div class="m-benefit-profile">
            <h1 data-locate="edu.author">{{:author}}</h1>
            <p data-locate="edu.desc">{{:desc}}</p>
          </div>
        </div>
        <div class="m-benefit-scheduel">
          {{for table_list}}
          <div class="m-benefit-row">
            {{for clist ~pindex=#index}}
            <span data-locate="edu.table_list[{{:~pindex}}].clist[{{:#index}}]">{{:#data}}</span>
            {{/for}}
          </div>
          {{/for}}
        </div>
      </div>
    </div>
  </div>


</div>
