<div class="m-contact-content">
  <div class="m-section-title">
    <span data-locate="style.title_main">{{:title_main}}</span> - 
    <span data-locate="style.title_sub">{{:title_sub}}</span>
  </div>

  
  <div class="m-child-section">
    <p class="m-child-title ft-oswald">
      <span>Corporate Style</span>
    </p>
    
    <div class="m-child-section m-child-info">
      <p class="m-info-wrap">
        <label data-locate="style.style_title">{{:style_title}}</label>
        {{for style_list}}
        <span data-locate="style.style_list[{{:#index}}]">{{:#data}}</span>
        {{/for}}
      </p>
    </div>

    <div class="m-style-section">
      {{for news_list}}
      <div class="m-style-item">
        <div class="m-style-title">
          <h1 data-locate="style.news_list[{{:#index}}].title">{{:title}}</h1>
          <label>{{:date}}</label>
        </div>
        <div class="m-style-list">
          {{for img_list ~pindex=#index}}
          <div class="m-style-pic">
            <img src="{{:url}}" alt="">
            <span data-locate="style.news_list[{{:~pindex}}].img_list[{{:#index}}].tl">{{:tl}}</span>
          </div>
          {{/for}}
        </div>
        <div class="m-style-content">
          {{for desc_list ~pindex=#index}}
            <span data-locate="style.news_list[{{:~pindex}}].desc_list[{{:#index}}]">{{:#data}}</span>
          {{/for}}
        </div>
      </div>
      {{/for}}
    </div>
    
  </div>


</div>
